#!/usr/bin/make -f

check-root:
	dh_testroot

build:
	$(MAKE)

install: build
	rm -rf debian/tmp
	mkdir -p debian/tmp/lib/firmware/hm2
	(cd fw; find -name "*.BIT" -or -name "*.xml" | cpio -o) \
		| (cd debian/tmp/lib/firmware/hm2; cpio -i --make-directories)
	while read a b; do \
		(cd debian/tmp/lib/firmware/hm2; mkdir -p `dirname $$b`; \
		[ -f $$a ] || exit 1; \
		ln -sf ../$$a $$b); \
	done < debian/compat_symlinks

binary: binary-indep
binary-indep: check-root install debian/control
	dh_movefiles
	dh_installchangelogs
	dh_installdocs -A README regmap
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

debian/control: debian/gencontrol firmwares.txt
	debian/gencontrol

clean:
	dh_clean
	rm -rf fw firmwares.mk

.PHONY: check-xst check-root build binary binary-indep clean
# vim:sw=8:sts=8:ts=8:noet
